div.panel.panel-default{
  text-align:center;
}

article{
  width:80%;
  height:100vh;
  text-align:center;
}

div.article-div{
  text-align:center;
}

.container{
  text-align:center;
}

.div{
  text-align:center;
}

